<%- include('head'); -%>
<main>
    <div class="jumbotron">
        <p class="lead">An error occurred!</p>
        <hr class="my-4">
        <p><%= message_tag %></p>
        <a href="/login" class="btn btn-primary" role="button"><span class="fa fa-google"></span> Authorize</a>
    </div>
</main>
<%- include('foot'); -%>