<%- include('head'); -%>
<main>
    <div class="jumbotron">
        <p class="lead">Access your Google Profile</p>
        <hr class="my-4">
        <p>Current Date: <%= date_tag %></p>
        <p><%= message_tag %></p>
        <% if (showPasskeyOption) { %>
            <a class="btn btn-primary" href="/login/passkey" role="button"> Login with PassKey</a>
        <% } else { %>
            <p>PassKey option not available for this user.</p>
        <% } %>
        <br>
        <br>
        <p>Or</p>
        <br>
        <a class="btn btn-primary" href="/login" role="button"><span class="fa fa-google"></span> Login with Google</a>
    </div>
</main>
<%- include('foot'); -%>
