<%- include('head'); -%>
<main>
  <div class="jumbotron">
      <p class="lead"><i class="fa fa-user" aria-hidden="true"></i>
        Protected Resource</p>
      <hr class="my-4">
      <% if (authenticated) { %>
        <p> User is authenticated</p>
      <% } else { %>
        <p> User is NOT authenticated </p>
        <a class="btn btn-primary" href="/login" role="button"><span class="fa fa-google"></span> Login</a>
      <% }  %>
  </div>
</main>
<%- include('foot'); -%>